 .u-section-1 {
  background-image: url("images/95bbcc3afbd7145486ecfe6f04488a1b6a319004179d86602954894695162fe0bcd60fd67d26e7adc44987db8a5906812725aa0c5f80ce88ce0e44_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 989px;
}

.u-section-1 .u-text-1 {
  font-size: 9.375rem;
  text-transform: uppercase;
  font-weight: 100;
  margin: 231px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 18px 570px 60px 5px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 375px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 60.45% 52.41%;
    background-size: 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 155px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-size: auto 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 6.06% 49.09%;
    background-size: 145%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 157px;
    margin-right: -27px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 38px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 934px;
}

.u-section-2 .u-text-1 {
  font-size: 8.75rem;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 300;
  margin: 256px 29px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: -136px 29px 0 342px;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 37px auto 60px;
  padding: 25px 36px 26px 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 6rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 224px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -95px;
    margin-left: 241px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 61px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-right: -20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 11px;
    margin-bottom: 24px;
  }
} .u-section-3 {
  background-image: url("https://pixabay.com/get/gf5530acd2a4b13bc694f974b7ceab15aff13d3cd5bd0ed1d4429fcdd67792da40b3da2c96fa1633d57b4182e11ad95aa5bc92fc0bd370d951db7aaa7da13286f_1280.jpg");
  background-position: 50% 50%;
  background-size: 120%;
}

.u-section-3 .u-sheet-1 {
  min-height: 642px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 582px;
}

.u-section-3 .u-container-layout-1 {
  padding: 19px 30px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/pexelsphoto3641425.jpeg");
  background-position: 50% 50%;
  margin: 293px auto 0 0;
}

.u-section-3 .u-text-1 {
  line-height: 1.8;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.875rem;
  margin: -237px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 582px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  font-size: 9.375rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 300;
  margin: 56px -17px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 36px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-3 .u-text-2 {
    font-size: 6rem;
    width: auto;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-size: auto 120%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }
} .u-section-4 {
  background-image: url("images/5ca60ceb2b79443d3751ad857505ab8ebd1bd6769361abfe2e7c87c221b5d27067ed9288fe8da9bef5536e7a13bbcbb491fc9ad9a47e89107ee07f_1280.jpg");
  background-position: 50% 0%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1008px;
}

.u-section-4 .u-text-1 {
  font-size: 9.375rem;
  text-transform: uppercase;
  font-weight: 100;
  margin: 231px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-4 .u-text-1 {
    font-size: 6rem;
    width: auto;
    margin-top: 288px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 60.45% 52.41%;
    background-size: 135%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 231px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-size: auto 135%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 133px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 5.59% 0%;
    background-size: auto 145%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 231px;
    margin-left: 27px;
    margin-right: 27px;
  }
} .u-section-5 {
  background-image: url("images/CreateYourOwnBrand.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 761px;
}

.u-section-5 .u-text-1 {
  font-size: 9.375rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 41px 202px 0 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 34px 616px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-5 .u-text-1 {
    font-size: 6rem;
    margin-right: 2px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 196px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    background-position: 10.32% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 72px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    background-position: 0% 0%;
    background-size: auto 110%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-5 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 22px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/pexelsphoto3815759.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 510px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 311px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 29px 20px 0;
}

.u-section-6 .u-text-2 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 20px 20px 0;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 311px;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 30px 20px 0;
}

.u-section-6 .u-text-4 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 20px 20px 0;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 311px;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 30px 20px 0;
}

.u-section-6 .u-text-6 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 21px 20px 0;
}

.u-section-6 .u-layout-cell-4 {
  background-image: none;
  min-height: 311px;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 30px 0 0;
}

.u-section-6 .u-text-8 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 57px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-6 .u-icon-1 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-6 .u-icon-2 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-6 .u-icon-3 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-6 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 256px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-icon-4 {
    height: 53px;
    width: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-icon-1 {
    height: 40px;
    width: 40px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-icon-2 {
    height: 40px;
    width: 40px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-icon-3 {
    height: 40px;
    width: 40px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-icon-4 {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-6 .u-icon-1 {
    height: 38px;
    width: 38px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-icon-2 {
    height: 38px;
    width: 38px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-icon-3 {
    height: 38px;
    width: 38px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-icon-4 {
    height: 38px;
    width: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-icon-1 {
    height: 32px;
    width: 32px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-icon-2 {
    height: 32px;
    width: 32px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-icon-3 {
    height: 32px;
    width: 32px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-icon-4 {
    height: 32px;
    width: 32px;
  }
}